<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body style="background-image: url(https://images4.alphacoders.com/379/thumb-1920-37958.jpg); background-size:cover; ">
    <section th:insert="Layouts/layouts::nav">

    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
        <h1 style="text-align:center; color:white">Welcome!</h1>
    <br>
    <div style="text-align:center">
    <img  src="https://res.cloudinary.com/dte7upwcr/image/upload/blog/blog2/mejores-herramientas-chat-online/mejores-herramientas-chat-online-img_header.jpg">
    </div>
</body>
</html>
