<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts}">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6b750c94ca.js" crossorigin="anonymous"></script>
</head>
<body style="background-image: url(https://images4.alphacoders.com/379/thumb-1920-37958.jpg); background-size:cover; ">
<section th:insert="Layouts/layouts::nav"></section>
<div th:object="${user}" style="text-align:center">



        <div class="container py-5 h-100" style="margin-top:3cm">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card bg-dark text-white" style="border-radius: .5rem;">

                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                     alt="Avatar" class="img-fluid my-5" style="width: 50px;" />
                                <h4><label th:text="${user.firstName}"></label></h4><h4><label th:text="${user.lastName}"></label></h4>
                                <div class="form-group row justify-content-center">
                                    <div class="mt-4 pt-2">

                                        <a class="btn btn-outline-light" th:href="@{/user/update/{username} (username = ${user.username})}"><i class="fa-solid fa-pen"></i> </a>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Profile</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Username</h6>
                                            <p class="text-muted"><label th:text="${user.username}"></label></p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>DNI</h6>
                                            <p class="text-muted"><label th:text="${user.dni}"></label></p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Language</h6>
                                            <p class="text-muted"><label th:text="${user.language.name}"></label></p>
                                        </div>
                                    </div>
                                    <section th:insert="Layouts/layouts::alert"></section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
</body>
</html>











