<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts}">
<head>
    <meta charset="UTF-8">
    <title>Chats</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<section th:insert="Layouts/layouts::nav"></section>

<br> <br>

<div class = "container">

    <form  style="text-align:left" th:object="${newChat}" th:action="@{/chats/new}" method='POST'>
      <label > <input class="form-control" type='text' name='newChat' id="newChat" placeholder="username"/>

        <button style="text-align:left" class="btn btn-outline-info" type="submit">
            New Chat
        </button></label>

    </form>
    <form style="text-align:left" th:object="${newGroup}" th:action="@{/chats/newGroup}" method='POST'>
        <label >  <input class="form-control" type='text' name='newChat' id="newGroup" placeholder="Group Name"/>

        <button style="text-align:left" class="btn btn-outline-info" type="submit">
            New Group
        </button>
        </label>
    </form>

    <br> <br>
    <table class ="table table-hover">

        <thead style="text-align:center">
        <tr>
            <th>CHATS </th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <div th:each="chat: ${chats}">
            <tr>
                <td style="text-align:center" class="alert alert-primary"><a style="font-size:17px" th:text = ${chat.name} th:href="@{/messages/{chatId} (chatId = ${chat.idChat}) }"> </a></td>
                <td><a th:href="@{/chats/delete/{chatId} (chatId = ${chat.idChat})}"><button >Delete</button></a></td>
            </tr>

        </div>
        </tbody>
    </table>
</div>

</body>
</html>